<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/components :: head('Cart')"></head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div th:replace="fragments/components :: menu"></div>
<!-- content start -->
<div class="collection_text">Shopping Cart</div>
<div class="collection_section layout_padding">
    <div class="container">
        <h1 class="new_text"><strong>Products in da Shopping Cart</strong></h1>
    </div>
</div>

<span th:if="${itemCarts.empty == false}">
     <table>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sun total</th>
            <th>Changer</th>
            <th>Supprimer</th>
        </tr>
        <tr th:each="itemCart, intr: ${itemCarts}">
            <td th:text="${itemCart.product.imageName}"/>
            <td th:text="${itemCart.product.name}"/>
            <td th:text="${itemCart.product.price}"/>
            <form method="POST" th:action="@{'/cart2/change/' + ${intr.index}}" th:object="${itemCart} " enctype="multipart/form-data">
            <td> <input type="number" id="quantity" name="qty" min="0" max="20" th:value="*{qty}">  </td>
                        <td> <button type="submit" class="btn btn-primary"> Changer </button> </td>
            </form>
                <td th:text="${itemCart.qty * itemCart.product.price}"/>
            <form method="POST" th:action="@{'/cart2/delete/' + ${intr.index}}" enctype="multipart/form-data">
            <td> <button type="submit" class="btn btn-primary"> Delete </button> </td>
            </form>
        </tr>
    </table>
    <table>
        <tr>
            <th>Total</th>
            <td th:text="${total}"/>
        </tr>
                <tr>
            <form method="POST" th:action="@{/cart2/empty}">
                <button type="submit" class="btn btn-primary"> VIDER </button>
                </form>
        </tr>
    </table>
</span>
<span th:if="${itemCarts.empty == true}">Le panier est vide
    <table>
                        <tr>
            <form method="POST" th:action="@{/cart2/init}">
                <button type="submit" class="btn btn-primary"> Init to test </button>
                </form>
        </tr>
        </table>

</span>


<!-- content end -->
<!-- section footer start -->
<div th:replace="fragments/components :: footer"></div>
<div th:replace="fragments/components :: copyright"></div>
<div th:replace="fragments/components :: scripts"></div>
</body>
</html>